/* #######################   NAV BAR        ###################################### */

.navbar{
    height: 57px !important;
    z-index: 1;
    
}
.navbar-color-llv{
    background-color: #042D6D !important;
   

}

.navbar-color-llv a{
    color: white !important;
}

.dropdown-menu-color-llv a{
    color: black !important;
}

.navbar-color-llv .form-llv input{
    color: white;
    background-color:rgb(255, 255, 255,0.1);
}


.navbar-color-llv .form-llv input:hover{
    box-shadow: none;
    border: none;
}

.navbar-color-llv .form-llv button{
    color: white;
    border: 1px solid white;
}

.navbar-color-llv .form-llv button:hover{
    
    color:  #042D6D ;
    background-color: #667FA6;
    border: 1px solid #667FA6;

}



/* #############################        LOGO            ################################# */
#logo{
    width: 80px;
    margin-top: -20px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
/* #####################    BANNER          ########################## */



.banner-llv{
height: 700px;
position: relative;


}

 .banner-llv {
    position: relative ;
    width: 100%;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    display: flex;
    flex-direction: column;
    background-image: url('/img/banner_background.png');
}

.banner-content-llv{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    
} 

.wave-llv{
    position: relative;
    width: 100%;
    height: 250px;
    background-color: brown;
    /* background-color:  rgba(0,0,0,0.2); */
    display: flex;

} 

.wave-llv svg{
   
    width: 100%;
    height: 100%;
    background-color: chartreuse;
    background-size: cover;
}
 


 /* ##########################  Seccion Last update ########################################### */

.last-update-llv{
   margin-top: 50px ;
    display: flex;
    width: 100%;
    height: 500px;
    
    position: relative;
    
}

#Contenedor{
    background-color: crimson !important;
   
}


.last-update-llv .head-container-llv{
    position: relative;
    display: flex;
    width: 100%;
    height: 60px;
    /* background-color: black; */
}

.head-container-llv div{
    position: absolute;
   
    margin: 20px 30px;  
}

.head-container-llv .showmore-llv{
    float: right;
    right: 10px;
}

.head-container-llv text{
    position: relative;
    width: 250px;
    height: 20px;
    left: 20px;
   
}

h2{
    text-transform: uppercase;
}


#Contenedor .row-llv{

    display:flex;
    position: relative;
    width: 100%;    
    height: 480px;
    background-color: aqua;

} 

.last-update-llv .row ul{
    height: 100%;
    width: 100%;
    
}



@media(max-width:767px){
    #logo{
        margin-top: -20px;
    }
}