button{
    color: #042D6D !important;
    border: 1px solid #042D6D !important;
}
button:hover{
    
    color:  white !important;
    background-color: #042D6D !important;
    border: 1px solid #042D6D !important;
}












/* #######################   NAV BAR        ###################################### */

.navbar{
    height: 57px !important;
    z-index: 1;
    
}
.navbar-color-llv{
    background-color: #042D6D !important;
   

}

.navbar-color-llv a{
    color: white !important;
}

.dropdown-menu-color-llv a{
    color: black !important;
}

.navbar-color-llv .form-llv input{
    color: white;
    background-color:rgb(255, 255, 255,0.1);
}


.navbar-color-llv .form-llv input:hover{
    box-shadow: none;
    border: none;
}

.navbar-color-llv .form-llv button{
    color: white;
    border: 1px solid white;
}

.navbar-color-llv .form-llv button:hover{
    
    color:  #042D6D ;
    background-color: #667FA6;
    border: 1px solid #667FA6;

}



/* #############################        LOGO            ################################# */
#logo{
    width: 80px;
    margin-top: -20px;
    border-radius: 50%;
    position: absolute;
    z-index: 1;
}
/* #####################    BANNER          ########################## */



.banner-llv{
height: 700px;
position: relative;


}

 .banner-llv {
    position: relative ;
    width: 100%;
    height:500px;
    background-size: cover;
    background-repeat: no-repeat;
     background-position: center;
    display: flex;
    flex-direction: column;
    background-image: url('/img/banner_background.png');
}

.banner-content-llv{
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: center;
    justify-content: center;
    align-items: center;
    
} 



 /* ##########################  Seccion Last update ########################################### */

#RecentOutfit{
    position: relative;
    display: flex;
  
}

#Contenedor{
    width: 100%;
    /* height: 100vh; */
   
    position: relative !important;
    /* background-color: tomato; */

}



/* ###############    Seccion outfits recientes con boostrap     ################### */

.border{
    border: 2px solid #0000;
}

.mt-4{
    margin-left: (8 * .25) !important;
}

/* .row{
    display: flex !important;
    flex-direction: row !important;
    position: relative !important;
} */

.height-row-llv {
     /* height: 100vh;  */
     /* -webkit-flex-wrap: wrap;
    -ms-box-orient: horizontal;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -moz-flex;
     display: -webkit-flex;
     display: flex;
    flex-wrap: wrap; */
    margin-bottom: 25px;
    position: relative;
    
}

.column-llv{
    width: 100% !important;
    height: 100% !important;
}
/*
.card {
    height: 100% !important;
}*/
.card .img-container{
    height:400px !important;
    position: relative;
    /* background-color: lawngreen; */
    display: flex;
} */
.card .img-container .card-img-top{
    
    position: absolute !important;
    width: 100% !important;
    height: 100% !important;
    z-index: 1;
}
.btn-add-car-buy{
    
    flex-direction: column;
    width: 100% !important;
    height: 100% !important;
    z-index: 4;
    position: absolute;
    background-color: rgb(0,0,0,0.1);
    display: flex;
    flex-direction:center;
    justify-content: end;
    align-items: center;
    /* vertical-align: bottom; */
    transition: 0.7  ease-in-out;
    opacity: 0%;
}
.btn-add-car-buy:hover{
    opacity: 100%;
    transition: 0.7 all ease-in-out;
}


/* /////////////////    Seccion outfits recientes con boostrap     /////////////////////   */
/* --------------------------------------------------------------------------------------------------------------------------------------- */
/* **********************      Vista Previa Detalles      ******************************************** */

#Preview {
    /* height: 450px; */
    /* background-color: teal; */
    margin-top: 50px;
    position: relative;
    /* background-color: violet; */
    -webkit-flex-wrap: wrap;
    -ms-box-orient: horizontal;
     display: -webkit-box;
     display: -moz-box;
     display: -ms-flexbox;
     display: -moz-flex;
     display: -webkit-flex;
     display: flex;
    flex-wrap: wrap;
}

.preview{
   position: relative;
    height: 100%;
    background-color: azure;
    margin :20px 70px ;
}
 
#Preview  .container{

}



#Preview  .container img{
height:450px;
width: 100%;
object-fit: cover;

}

.details-product{
    height: 400px !important;
}

.details-product form {
    height: 250px;
  /* background-color: violet !important; */
}
.container-box-llv {
    position: relative !important;
    height: 0xp !important;
  
    display: flex;
}
.Select-box{
    width: 150px;
    height: 100px;
    /* background-color: lawngreen; */
    position: relative;
    margin-top: 20px;
    /* display: flex; */
}

.Select-box label{
    margin-bottom: 3px;
    display: block;
}

.Select-box select {
    color: #042D6D;
    width: auto;
    height: 42px;
    padding: 10px 15px;
    position: absolute;
    line-height: 18px;
    font-size: 15px;
    border: 2px solid #D7DEE8;
    -webkit-appearance:none;
     appearance:unset;  
     cursor: pointer;
     border-radius: 10px; 
    background-color:#D7DEE8 ;
    /* justify-content: right; */
    /* text-align: left; */
   
}


.Select-box select:focus{
    border: 2px solid #042D6D;
}

select option{
    border-left: 2px;
    border-right: 5px;
    border-radius: 10px;
}

.Select-box::after{
    content: "";
    position: absolute;
    right: 15px;
    top :50%;
    margin-top: -5px;
    border-top:8px solid #042D6D;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
    pointer-events: none;
}

.select-box-sm-llv{
    width: 60px;
    /* margin-left: 25px; */
}

.select-box-lg-llv{
    /*  margin-left: 200px;  */
    padding-left: 20px;
    /* padding-right: 40px; */
} 



.product-single-card-submit{
    position: relative;
    width: 250px;
    height: 150px;
}


.product-single-card-submit button{
    width: 200px;
    position: relative;
    height: 45px;
    margin-left: 50px;
    border: 2px solid #042D6D !important;
}

.product-single-card-submit button:hover{
    background-color: rgba(4, 45, 109, .1) !important;
    color: #042D6D !important;
}



.box-social-media{
    width: 200px;
    padding: 5px 0;
  
}
.box-social-media ul{
    margin-top: 30px;
 }
 
 .box-social-media  ul{
     display: flex;
     justify-content: space-evenly;
     list-style: none;
 }
 
.box-social-media ul li i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

 
.box-social-media ul li i{
    font-size: 20px;
    color: blue;
    cursor: pointer;
}

.box-social-media ul li{

    width: 40px;
    height: 40px;
    border: 2px solid #042D6D;
     border-radius: 50%;
     position: relative;
     color: #042D6D;
}

.box-social-media ul li:before{
    content: "";
    position: absolute;
    top: 16px;
    right: -21px;
    width: 15px;
    height:2px ;
    background: #042D6D
}



ul li:last-child::before{
    display: none;
}


/* ///////////////////////     Vista Previa Detalle        ////////////////////////////////////// */
@media(max-width:767px){
    #logo{
        margin-top: -20px;
    }

    .col-height{
        height: 300px;
    }
}



/* Clases Para Margenes Personales */

.ml-ll-5{
    margin-left: 5px;
}

.ml-ll-10{
    margin-left: 10px;
}
.ml-ll-15{
    margin-left: 15px;
}
.ml-ll-20{
    margin-left: 20px;
}
/* .select-sm-llv{
    margin-left: 200px;
    padding-left: 87px;
} */
/* -----------------   Clases Para Margenes Personales */