
#main-header{
    position: relative;
    z-index: 5;
    padding: 30px 40px;
    max-width: 1400px;
    margin: 0 auto;
    background-color: black;

}
#main_header a#header_logo {
    background: url('/img/80753425_105704607611635_7573622747104804864_n.jpg') 0 0 no-repeat;
        background-color: rgba(0, 0, 0, 0);
        background-position-x: 0px;
        background-position-y: 0px;
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-image: url("/img/80753425_105704607611635_7573622747104804864_n.jpg");
        background-size: auto;
        background-origin: padding-box;
        background-clip: border-box;
    width: 50px;
    height: 50px;
    display: inline-block;
}

.header-menu{
    float: right;
    margin: 10px 0 0;
}

.header-menu ul {
    margin: 0;
    padding: 0;
}

.header-menu ul li {
    float: left;
    list-style: none;
    margin-right: 20px;
    position: relative;
}